.banner.section {
    background-image: url('/contact/img/banner.jpg');
}

.banner.section .overlay {
    background: var(--black);
    opacity: 0.5;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info a {
    color: var(--white);
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info i {
    margin-right: 10px;
}

.banner.section img {
    border-radius: var(--border-radius);
}

.banner.section h1, 
.banner.section p {
    max-width: none;
}

@media (max-width: 560px) {
    .banner.section .row {
        margin-top: 120px;
    }
}